:host {
  background-color: navy;
  color: white;
  padding: 5px;
}

footer {
  text-align: center;
}

footer > small {
  font-size: 0.8rem;
}

small > span, small > a {
  display: inline-block;
  margin: 5px 10px;
}