<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let car of cars">
      <tr *ngIf="editCarId === car.id" class="app-car-edit-row" [car]="car"
        (saveCar)="saveCar.emit($event)" (cancelCar)="cancelCar.emit()"></tr>
      <tr *ngIf="editCarId !== car.id" class="app-car-view-row" [car]="car"
        (editCar)="doEditCar($event)" (deleteCar)="doDeleteCar($event)"></tr>
    </ng-container>
  </tbody>
</table>
