
.t4d-toast {
  position: absolute;
  left: 20px;
  bottom: 80px;
  border: 1px solid black;
  min-width: 200px;
  visibility: hidden;
  color: black;
  background-color: white;
  z-index: 1000;
}

.t4d-toast > header {
  color: white;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
}

.t4d-toast.show-info > header {
  background-color: forestgreen;
}

.t4d-toast.show-error > header {
  background-color: maroon;
}

.t4d-toast > header a {
  color: white;
  float:right;
}

.t4d-toast > div {
  padding: 5px;
  font-size: smaller;
}