<div
  [class]="'t4d-toast ' + notificationSvc.notificationClass"
  [@showHide]="notificationSvc.notificationState">
  <header>
    {{notificationSvc.notificationType}}
    <a (click)="notificationSvc.hideNotification()">[X]</a>
  </header>
  <div>
    <span *ngIf="!notificationSvc.notificationList">
      {{notificationSvc.notificationMessage}}</span>
    <ul *ngIf="notificationSvc.notificationList">
      <li *ngFor="let message of notificationSvc.notificationMessage">
        {{message}}</li>
    </ul>
  </div>
</div>